/* Specification */
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f7fcfe;
  color: #727272;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

ul, li {
  marign: 0;
  padding: 0;
  display: block;
}

/* Header */
header {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #253b80;
  color: white;
}
/* Mobile version - nav */
.mobile {
  display: none;
  text-align: center;
}
.mobile input {
  padding: 10% 10% 0 0;
}
.mobile nav {
  padding: 0;
}
.mobile li {
  padding: 10px 0 10px 0;
  border-bottom: 2px solid #c5e6f5;
  box-shadow:
}
.mobile a {
  text-decoration: none;
  color: #c5e6f5;
}
.mobile a:hover {
  color: white;
}


.mobile_submenu {
  font-size: 12px;
  font-weight: 100;
  background-color: #253b80;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}
.mobile_submenu li {
  border-bottom: 1px solid #c5e6f5;
}
.mobile_submenu a {
  color: #9ab8d1;
}

/* Header - top menu */
.top_line {
  background-color: #179bd7;
  height: auto;
  width: auto;
}

.menu {
  padding: 10px 15px 10px 15px;
  margin: 0;
}
.menu_item {
  border-right: 1px solid #c5e6f5;
}
.menu_item:first-child {
  border-left: 1px solid #c5e6f5;
}
.menu_item a {
  color: #c5e6f5;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  font-weight: 400;
}
    .menu_item a:hover {
    color: white;
    }

/* Header - middle part */
.title_line {
  padding-top: 60px;
}
.title_line h6 {
  color: #9ab8d1;
}
.title_line a {
  text-decoration: none;
  color: white;
}
.title_line ul {
display: block;
}
.title_line li {
  padding-right: 10px;
  padding-left: 10px;
}
.title_line img {
  padding-top: 5px;
}

/* Header - bottom part */
.menu_bottom {
  display: block;
  height: auto;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 50px;
  margin-bottom: 0;
  background-color: #f7fcfe;
}
.menu_bottom ul {
  margin-bottom: 0;
}

.menu_bottom_item {
  border-right: 2px solid #253b80;
}
.menu_bottom_item:first-child {
  border-left: 2px solid #253b80;
}
.menu_bottom_item a {
  text-decoration: none;
  font-weight: 600;
  padding-right: 10px;
  padding-left: 10px;
  color: #253b80;
}
.menu_bottom_item a:hover {
  color: orange;
}

.submenu {
  display: none;
  position: absolute;
  background-color: #f7fcfe;
  z-index: 10;
  box-shadow: 0 10px 10px grey;
}
.submenu a {
  text-decoration: none;
  color: #253b80;
  font-weight: 300;
}
.submenu li {
  padding-top: 10px;
  padding-bottom: 5px;
}

/* Content section */
.history {
  margin-top: 40px;
  margin-left: 10px;
  padding-right: 10px;
}

.text {
  text-align: justify;
}

.text_wrapper {
  background-color: white;
  padding: 20px 50px 50px 50px;
  box-shadow: 0 0 10px #e3e5e6;
}

.text_title{
  color: orange;
  padding-bottom: 10px;
  padding-top: 20px;
}

.text_list li{
  display: list-item;
  margin-left: 25px;
  padding-left: 15px;
}

.group_photo {
  width: 100%;
  padding-right: 20px;
}

/* Lecturer information */
.placeholder {
  width: 100%;
  padding-bottom: 10%;
}

.main_photo_description {
  padding-right: 25px;
}

.description_members {
display: none;
}
.photos {
width: 15%;
margin-top: 20px;
margin-right: 5px;
}

.photo_line {
  text-align: center;
}
/* Footer */
.footer {
  height: auto;
  background-color: #031358;
  text-align: center;
  color: white;
  padding-top: 35px;
  padding-bottom: 20px;
  margin-top: 50px;

}
.footer p {
  color: white;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  color: orange;
}

.portrait {
  width: 95%;
}

.portrait-box {
  margin: 0 35px 0 35px;
}

.building_past {
  width: 80%;
}
.building_now {
  width: 80%;
  margin-left: 75px;
}

@media screen and (max-width: 1199px) {
.portrait {
  width: 100%;
  margin-top: 30%;
}
}
@media screen and (max-width: 991px) {
  .img_history {
    text-align: center;
  }
  .building_now {
    margin: 0 0 25px 0;
  }
  .building_past {
    margin-bottom: 25px;
  }
  .title_line li{
    margin-top: 15px;
  }
  .menu_bottom_item {
    padding: 5px 5px 5px 5px;
    margin: 0;
  }
  .menu_bottom a {
    padding: 0;
    margin: 0;
  }
  .submenu li {
    padding: 5px 5px 0 5px;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {

.text_wrapper {
  box-shadow: none;
  background-color: #f7fcfe;
  padding: 0;
}
.row {
  margin: 0;
}
.menu_item {
  display: none;
}
.top_line {
  height: 0;
}
.menu_bottom {
display: none;
}
.mobile {
  display: inline;
}
.title_line {
  padding: 0;
}
footer {
  font-size: 12px;
}
}

@media screen and (max-width: 507px) {
.mobile_menu_btn {
  display: inline;
 }
.menu_bottom {
display: none;
}
}

@media screen and (max-width: 470px) {
.contacts {
display: none;
}
}
